/*@import url("fonts.css"); ==> proxima-nova font */

/**
 * TEMPORAIRE
 */
.xdebug-error, .xe-notice, .xe-warning, .xdebug-var-dump {
    margin-top: 100px;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 300;
    font-family: 'Open Sans', 'Lato', sans-serif;
    background-color: #eee;
}

.centered {
    text-align: center;
}

/*
|--------------------------------------------------------------------------
| Page Home, Register And Login
|--------------------------------------------------------------------------
*/

.page_home {
    height: 100%;
}

table.showcase {
    height: 100%;
    width: 100%;
    position: relative;
}

table.showcase .showcase-inner {
    margin: 40px auto 60px;
    padding: 10px;
}

table.showcase .showcase-inner h1 {
    font-size: 55px;
    text-align: center;
    font-weight: 300;
}

table.showcase .showcase-inner h2#text_intro {
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    margin: 1em 0 1em;
}

/*
|--------------------------------------------------------------------------
| Balises HTML, Titre
|--------------------------------------------------------------------------
*/

.page-header {
    padding-bottom: 15px;
}

hr {
    border-top: 1px solid rgba(0,0,0,.2);
}

/*
|--------------------------------------------------------------------------
| Page Index
|--------------------------------------------------------------------------
*/

.page {
    padding-top: 50px;
}

/* ========================== */
/*        NavBar Custom       */
/* ========================== */

.navbar-custom {
    box-shadow: 0 1px 5px rgba(0,0,0,0.26);
}

.navbar-custom .navbar-brand {
    color: rgba(0, 0, 0, .8);
    font-weight: 400;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    padding-top: 16px;
}

.navbar-custom .navbar-brand#littlenavbar {
    padding-top: 8px;
    margin-left: -40px;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
}

.navbar-custom .navbar-nav>li>a {
     color: #777;
     font-size: 18px;
 }

.navbar-custom #navbar-btn-noconnect {
    margin: 0 0 0 15px;
}

.navbar-custom .navbar-text {
    font-size: 18px;
}

.navbar-custom .dropdown-menu>li>a {
    padding: 13px 16px;
}

.navbar-custom .dropdown-menu>li>a:hover, .navbar-custom .dropdown-menu>li>a:focus {
    color: #337ab7;
}

.navbar-custom.navbar .dropdown-menu {
    border-radius: 0 0 3px 3px;
    text-align: center;
}

.navbar-custom.navbar .dropdown-menu .divider {
    background-color: rgb(212, 212, 212);
    height: 1px;
    margin: 0;
}

.navbar-custom.navbar .dropdown .navbar-img-profil {
    width: 35px;
    height: 35px;
    margin-top: -13px;
    margin-bottom: -9px;
}

/* ========================== */
/*    Button Outline Custom   */
/* ========================== */

.btn-smlarge {
    padding: 9px 30px;
}

.btn-primary-outline {
    color: #0275d8;
    background-color: transparent;
    background-image: none;
    border-color: #0275d8;
}
.btn-primary-outline:hover {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

.btn-secondary-outline {
    color: #ccc;
    background-color: transparent;
    background-image: none;
    border-color: #ccc;
}
.btn-secondary-outline:hover {
    color: #333;
    background-color: #ccc;
    border-color: #ccc;
}

.btn-default-outline {
    color: #fafafa;
    background-color: transparent;
    background-image: none;
    border: 2px solid #fafafa;
}
.btn-default-outline:hover {
    color: #333;
    background-color: #fafafa;
    border-color: #fafafa;
}

.btn-success-outline {
    color: #5cb85c;
    background-color: transparent;
    background-image: none;
    border-color: #5cb85c;
}
.btn-success-outline:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-info-outline {
    color: #5bc0de;
    background-color: transparent;
    background-image: none;
    border-color: #5bc0de;
}
.btn-info-outline:hover {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-warning-outline {
    color: #f0ad4e;
    background-color: transparent;
    background-image: none;
    border-color: #f0ad4e;
}
.btn-warning-outline:hover {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-danger-outline {
    color: #d9534f;
    background-color: transparent;
    background-image: none;
    border-color: #d9534f;
}
.btn-danger-outline:hover {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn-round.btn-lg {
    width: 48px;
    height: 48px;
}

.btn-round.btn-sm {
    width: 34px;
    height: 34px;
}

.btn-round.btn-xs {
    width: 24px;
    height: 24px;
}

/* ========================== */
/*        Forms Custom        */
/* ========================== */

.form-control:focus {
    box-shadow: none;
}

.form-rounded {
    border-radius: 50px;
}

/* ========================== */
/*           Tweet            */
/* ========================== */

.tweet {
    background-color: #fff;
    padding: 25px 25px 10px 25px;
    border-bottom: 2px solid rgba(0,0,0,0.08);
    border-right: 2px solid rgba(0,0,0,0.08);
}

.tweet:hover {
    background-color: #F7F7F7;
}

.tweet .media-left {
    padding-right: 30px;
}

.tweet .img-profil-tweet {
    width: 55px;
    height: 55px;
}

.tweet .tweet-user {
    text-decoration: none;
    color: #3A3C43;
    font-size: 15px;
}
.tweet .tweet-user .tweet-fullname:hover {
    text-decoration: underline;
    color: #3B94D9;
}

.tweet .tweet-fullname {
    margin-right: 4px;
}

.tweet .tweet-username b {
    font-weight: normal;
}

.tweet .time {
    margin-right: 25px;
    float: right;
    font-size: 14px;
}

.tweet .tweet-text {
    margin-top: 13px;
    font-weight: normal;
    color: #333;
    font-size: 16px;
    white-space: pre-wrap;
    word-wrap: break-word;
    
}

.tweet .tweet-imgpost {
    max-width: 100%;
    max-height: 500px;
    border-radius: 4px;
    margin: 4px 0;
}

.tweet .tweet-description {
    padding: 8px;
    font-size: 15px;
}

.tweet-button {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    vertical-align: middle;
    outline: none;
    margin-top: -4px;
    margin-right: 3px;
}

.btn-reply:hover, .btn-reply:focus {
    color: #3B94D9;
}

.btn-fav:hover, .btn-fav:focus {
    color: #FF9800;
}

.btn-rt:hover, .btn-rt:focus {
    color: #5c913b;
}

/* ========================== */
/*   Loader Material Design   */
/* ========================== */

.loader {
    position: relative;
    margin: 0px auto;
    width: 100px;
}
.loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}
.circular {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}
@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }
}
@-webkit-keyframes color {
    100%, 0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%, 90% {
        stroke: #ffa700;
    }
}
@keyframes color {
    100%, 0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%, 90% {
        stroke: #ffa700;
    }
}