/*@import url("fonts.css"); ==> proxima-nova font */
/*
|--------------------------------------------------------------------------
| Page Home
|--------------------------------------------------------------------------
*/
html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 300;
    font-family: 'Open Sans', 'Lato', sans-serif;
    background-color: #eee;
}

.centered {
    text-align: center;
}

.page_home {
    height: 100%;
}

table.showcase {
    height: 100%;
    width: 100%;
    position: relative;
}

table.showcase .showcase-inner {
    margin: 40px auto 60px;
    padding: 10px;
}

table.showcase .showcase-inner h1 {
    font-size: 55px;
    text-align: center;
    font-weight: 300;
}

table.showcase .showcase-inner h2#text_intro {
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    margin: 1em 0 1em;
}

.btn-smlarge {
    padding: 9px 30px;
}

.page-header {
    padding-bottom: 15px;
}

hr {
    border-top: 1px solid rgba(0,0,0,.2);
}

.page {
    padding-top: 150px;
}

/* ========================== */
/*        NavBar Custom       */
/* ========================== */

.navbar-custom {
    box-shadow: 0 1px 5px rgba(0,0,0,0.26);
}

.navbar-custom .navbar-brand {
    color: rgba(0, 0, 0, .8);
    font-weight: 400;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    padding-top: 16px;
}

.navbar-custom .navbar-brand#littlenavbar {
    padding-top: 8px;
    margin-left: -40px;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
}

.navbar-custom .navbar-nav>li>a {
     color: #777;
     font-size: 18px;
 }

.navbar-custom #navbar-btn-noconnect {
    margin: 0 0 0 15px;
}

.navbar-custom .navbar-text {
    font-size: 18px;
}

.navbar-custom .dropdown-menu>li>a {
    padding: 13px 16px;
}

.navbar-custom .dropdown-menu>li>a:hover, .navbar-custom .dropdown-menu>li>a:focus {
    color: #337ab7;
}

.navbar-custom.navbar .dropdown-menu {
    border-radius: 0 0 3px 3px;
    text-align: center;
}

.navbar-custom.navbar .dropdown-menu .divider {
    background-color: rgb(212, 212, 212);
    height: 1px;
    margin: 0;
}

.navbar-custom.navbar .dropdown .navbar-img-profil {
    width: 35px;
    height: 35px;
    margin-top: -13px;
    margin-bottom: -9px;
}

/* ========================== */
/*    Button Outline Custom   */
/* ========================== */

.btn-primary-outline {
    color: #0275d8;
    background-color: transparent;
    background-image: none;
    border-color: #0275d8;
}
.btn-primary-outline:hover {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

.btn-secondary-outline {
    color: #ccc;
    background-color: transparent;
    background-image: none;
    border-color: #ccc;
}
.btn-secondary-outline:hover {
    color: #fff;
    background-color: #ccc;
    border-color: #ccc;
}

.btn-success-outline {
    color: #5cb85c;
    background-color: transparent;
    background-image: none;
    border-color: #5cb85c;
}
.btn-success-outline:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-info-outline {
    color: #5bc0de;
    background-color: transparent;
    background-image: none;
    border-color: #5bc0de;
}
.btn-info-outline:hover {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-warning-outline {
    color: #f0ad4e;
    background-color: transparent;
    background-image: none;
    border-color: #f0ad4e;
}
.btn-warning-outline:hover {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn-danger-outline {
    color: #d9534f;
    background-color: transparent;
    background-image: none;
    border-color: #d9534f;
}
.btn-danger-outline:hover {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

/* ========================== */
/*        Forms Custom        */
/* ========================== */

.form-control:focus {
    box-shadow: none;
}

.form-rounded {
    border-radius: 50px;
}

/* ========================== */
/*           Tweet            */
/* ========================== */

#test {
    margin-left: -30px;
    margin-right: -30px;
}
.tweet {
    background-color: #fff;
    border-radius: 0px;
    padding: 15px 13px;
    border-bottom: 2px solid rgba(0,0,0,0.08);
    border-right: 2px solid rgba(0,0,0,0.08);
    margin: 20px 0;
}

.tweet .img-profil-tweet {
    width: 63px;
    height: 63px;
}

.tweet .tweet-user {
    text-decoration: none;
    color: #333;
}
.tweet .tweet-user .tweet-fullname:hover {
    text-decoration: underline;
    color: #3B94D9;
}

.tweet .tweet-fullname {
    margin-right: 4px;
}

.tweet .tweet-username b {
    font-weight: normal;
}

.tweet .time:before {
    content: "\00b7";
    margin-right: 3px;
}

.tweet .tweet-text {
    margin-top: 5px;
    font-weight: normal;
    color: #333;
    font-size: 16px;
    white-space: pre-wrap;
    word-wrap: break-word;
    
}

.tweet .tweet-imgpost {
    max-width: 100%;
    max-height: 500px;
    border-radius: 5px;
    margin: 4px 0;
}

.tweet .tweet-description {
    padding: 5px;
    font-size: 17px;
}

.tweet-button {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    vertical-align: middle;
    outline: none;
    margin-top: -4px;
    margin-right: 3px;
}

.btn-reply:hover, .btn-reply:focus {
    color: #3B94D9;
}

.btn-fav:hover, .btn-fav:focus {
    color: #FF9800;
}

.btn-rt:hover, .btn-rt:focus {
    color: #5c913b;
}